.App {
    height: 100vh;
    padding: 0px 40px;
    align-items: center;
    justify-content: center;
    background-color: rgb(195, 144, 144);
}

.books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    background-color: rgb(107, 189, 189);
}

.delete {
    width: 90px;
    height: 30px;
    color: #0a00c2;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
}

.update {
    margin-bottom: 10px;
    height: 30px;
    width: 90px;
    color: #da000b;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
}

.gaurav {
    display: flex;
    align-items: center;
    padding-left: 430px;
}

.addbutton {
    margin-left: 330px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
    text-decoration: none;
    background-color: #2e5be2;
}

.link-without-underline {
    text-decoration: none;
    color: white;
}