.App {
    padding: 8px 40px;
    align-items: center;
    justify-content: center;
    background-color: rgb(195, 144, 144);
}

.books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    background-color: rgb(107, 189, 189);
}

.delete {
    width: 90px;
    height: 30px;
    color: #0a00c2;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
}

.update {
    margin-bottom: 10px;
    height: 30px;
    width: 90px;
    color: #da000b;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
}

.gaurav {
    display: flex;
    align-items: center;
    padding-left: 430px;
}

.addbutton {
    margin-top: -15px;
    margin-left: 300px;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
    text-decoration: none;
    background-color: #2e5be2;
}

.link-without-underline {
    text-decoration: none;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(195, 144, 144);
}

input,
textarea {
    padding: 15px;
    margin: 15px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 1;
    display: flex;
}

label {
    font-weight: bold;
}

button[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

button[type="submit"]:focus {
    outline: none;
}

h1 {
    text-align: center;
    margin-top: 0px;
}

@media (max-width: 768px) {
    form {
        width: 80%;
        height: 100%;
    }

    .App {
        padding: 8px 40px;
        align-items: center;
        justify-content: center;
        background-color: rgb(195, 144, 144);
    }


    input,
    textarea {
        width: 100%;
    }
}

@media (max-width: 576px) {}